{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'organigrammi/jquery-ui/jquery-ui.min.css' %}">
{% endblock %}

{% block extrahead %}
    <!--{{ block.super }}-->
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/external/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/i18n/jquery.ui.datepicker-it.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".range_date_field").datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                minDate: "-10Y",
                maxDate: "+2Y",
                dateFormat: "dd/mm/yy"
            });
            $("input[type=submit]").button().click(function(event) {
//                event.preventDefault();
//                var form_action = $('#form_filter').attr('action');
//                console.log($("#from_date").val());
//                console.log($("#to_date").val());
//                if ($("#from_date").val().length == 10) {
//                    form_action += $("#from_date").val() + "/";
//                    if ($("#to_date").val().length == 10) {
//                        form_action += $("#to_date").val() + "/";
//                    }
//                }
//                $("#form_filter").attr("action", form_action);
//                console.log($("#form_filter").attr("action"));
//                $("#form_filter").submit();
                return true;
            });
        });
    </script>
{% endblock %}

{% block content %}
<div id="content-main">
    <div  style="margin: 20px 0;">
        <form id="form_filter" method="get" action="{% url 'admin:organigrammi_presenza_visualizzazione_default' mandato_pk %}">
            <div class="field-data_svolgimento">
                <label for="from_date">Dalla data:</label>
                <input class="range_date_field"
                       id="from_date"
                       name="from_date"
                       type="text"
                        value="{{ from_date|date:'d/m/Y' }}">
                <label for="to_date">alla data:</label>
                <input class="range_date_field"
                       id="to_date"
                       name="to_date"
                       type="text" value="{{ to_date|date:'d/m/Y' }}">
                <input type="submit" id="filter" value="Filtra">
            </div>
        </form>
    </div>
    <div style="border: 1px solid red;">
        <pre>{{ sessioni.items }}</pre>
        <table>
            <tr>
        {% for s in sessioni.keys %}
            <th>{{ s }}</th>

        {% endfor %}

            </tr>
            <tr>
        {% for s in sessioni.keys %}
            <th>{{ s }}</th>

        {% endfor %}

            </tr>
            <tr>
        {% for s in sessioni.values %}
            <th>{{ s }}</th>

        {% endfor %}

            </tr>
             <tr>
        {% for s in sessioni.items %}
            <th>{{ s }}</th>

        {% endfor %}

            </tr>
        </table>
    </div>

    <!--<div class="results">-->
        <!--<table id="result_list">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--{% for p in presenze %}-->
            <!--<tr>-->
                <!--<td>{{ p.pk }}</td>-->
                <!--<td>{{ p }}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>
{% endblock %}