{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <!--<link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}">-->
    <link rel="stylesheet" href="{% static 'organigrammi/jquery-ui/jquery-ui.min.css' %}">
    <style>
        div.results {}

        table#result_list {
            /*margin: ;*/
            border: 1px solid #eee;
        }
        table#result_list thead th {
            width: 100px;
            text-align: center;
        }
        table#result_list tbody td {
            width: 100px;
            text-align: center;
        }
        table#result_list tbody th {
            width: 150px;
            text-align: right;
        }
    </style>
{% endblock %}

{% block extrahead %}
    <!--{{ block.super }}-->
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/external/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/i18n/jquery.ui.datepicker-it.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".range_date_field").datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                minDate: "-10Y",
                maxDate: "+2Y",
                dateFormat: "dd/mm/yy"
            });
            $("input[type=submit]").button();
        });
    </script>
{% endblock %}

{% block content %}
<div id="content-main">
    <div style="margin: 20px 0;">
        <form id="form_filter_2" method="get" action="">
            <div class="field-data_svolgimento">
                {{ form }}
                <input type="submit" id="filter" value="Filtra">
            </div>
        </form>
    </div>
    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    {% for h in table_header %}
                        <th>{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in table_rows %}
                <tr>
                    {% for el in row %}
                        {% if forloop.first %}
                            <th>{{ el }}</th>
                        {% else %}
                            <td>{{ el.0 }}</td>
                        {% endif %}
                    {% endfor %}
                <tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}