{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <!--<link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}">-->
    <link rel="stylesheet" href="{% static 'organigrammi/jquery-ui/jquery-ui.min.css' %}">
    <style>
        div#div_form_filter {
            margin: 20px 0;
            width: 280px;
            float: left;
        }

        div.results {}

        table#result_list {
            border: 1px solid #eee;
        }
        table#result_list thead th {
            width: 100px;
            text-align: center;
            vertical-align: bottom;
            padding-bottom: 3px;
        }
        table#result_list thead th.presenze {
            width: 50px;
        }
        table#result_list tbody th {
            width: 150px;
            text-align: right;
        }
        table#result_list tbody td {
            width: 100px;
            text-align: center;
            border: 1px solid #eee;
            /*color: lig;*/
        }
        table#result_list tbody td.presenze {
            width: 50px;
        }
        td.totale_num_presenze {
            background-color: lightyellow;
        }
        td.totale_num_gettoni {
            background-color: lightgoldenrodyellow;
        }
        td.totale_costo_gettoni {
            background-color: lemonchiffon;
        }

    </style>
    <style type="text/css" media="print">
        @page {
            size: landscape;
        }
        div#header, div.breadcrumbs, div#div_form_filter {
            display: none;
        }
        h1 {
            text-align: center;
        }
        table {
            margin: 10px auto;
        }
    </style>
{% endblock %}

{% block extrahead %}
    <!--{{ block.super }}-->
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/external/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'organigrammi/jquery-ui/i18n/jquery.ui.datepicker-it.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".range_date_field").datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                minDate: "-10Y",
                maxDate: "+2Y",
                dateFormat: "dd/mm/yy"
            });
            $("input[type=submit]").button();
            $("th.persona").parent().css("background-color", "lightpink");
            $("th.assessore").parent().css("background-color", "lightblue");
            $("#result_list tr:last").prepend(
                "<th colspan='" + ($("#result_list tr:first").children().length -
                    $("#result_list tr:last").children().length)  +"'>Totali:</th>");
            $("#result_list tr:last").children().css("padding-top", "20px");
        });
    </script>
{% endblock %}

{% block content %}
<div id="content-main">
    <div id="div_form_filter">
        <form id="form_filter" method="get" action="">
            <div class="field-data_svolgimento">
                {{ form.as_p }}
                <input type="submit" id="filter" value="Filtra">
            </div>
        </form>
    </div>
    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    {% for h in table_header %}
                        <th{% if forloop.revcounter <= 3 %} class="presenze"{% endif %}>{{ h|safe }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in table_rows %}
                <tr>
                    {% for el in row %}
                        {% if forloop.revcounter <= 3 %}
                            <td class="presenze {% if forloop.revcounter == 1 %}totale_costo_gettoni{% elif forloop.revcounter == 2 %}totale_num_gettoni{% elif forloop.revcounter == 3 %}totale_num_presenze{% endif %}">{{ el }}</td>
                        {% elif forloop.first %}
                            <th class="{{ el.1 }}">{{ el.0 }}</th>
                        {% else %}
                            <td>{{ el.0 }}{% if el.0 == 'P' and el.1 > 0 %} ({{el.1}}&#8364;){% endif %}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}